@{
    ViewData["Title"] = "About Us";
}
<section class="section-hero overlay inner-page bg-image" style="background-image: url('@Url.Content("~/images/hero_1.jpg")');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">About Us</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>About Us</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="site-section pb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
               
                    <img src="~/images/sq_img_6.jpg" alt="Image" class="img-fluid img-shadow">
                </a>
            </div>
            <div class="col-lg-5 ml-auto">
                <h2 class="section-title mb-3">CareerLaunch For Freelancers</h2>
                <p class="lead">At CareerLaunch, we understand the challenges freelancers face in building their career and gaining exposure in the competitive job market. Our platform is dedicated to providing a space where talented individuals, from writers to designers, can showcase their skills, connect with organizations, and access a world of opportunities.</p>
                <p class="lead">Whether you're just starting or looking to expand your network, CareerLaunch offers a supportive environment for freelancers to thrive, build a portfolio, and take their career to the next level. Join us today and unlock a world of possibilities for your freelance journey!</p>
            </div>
        </div>
    </div>
</section>

<section class="site-section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0 order-md-2">
               
                    <img src="~/images/sq_img_8.jpg" alt="Image" class="img-fluid img-shadow">
                </a>
            </div>
            <div class="col-lg-5 mr-auto order-md-1  mb-5 mb-lg-0">
                <h2 class="section-title mb-3">CareerLaunch For Workers</h2>
                <p class="lead">CareerLaunch is designed to empower workers by connecting them with organizations seeking skilled professionals across various industries. Whether you are looking for full-time positions, part-time opportunities, or project-based work, our platform offers a seamless experience to showcase your skills and qualifications.</p>
                <p class="lead">We provide a dynamic space where workers can create detailed profiles, search for job opportunities, and engage with employers in a supportive environment. CareerLaunch is here to help you advance your career, find your next role, and reach new professional heights.</p>
            </div>
        </div>
    </div>
</section>


<section class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center" data-aos="fade">
                <h2 class="section-title mb-3">Our Team</h2>
            </div>
        </div>

        <div class="row align-items-center block__69944">

            <div class="col-md-6">
                <img src="~/images/Yahya.jpg" alt="Image" class="img-fluid mb-4 rounded">
            </div>

            <div class="col-md-6">
                <h3>Yahya Snedawi</h3>
                <p class="text-muted">Web Developer </p>
                <p>Yahya Snedawi is a pivotal member of our team, specializing in Web Development. With extensive experience in creating dynamic and user-friendly web applications, Yahya is dedicated to ensuring that our platforms run smoothly and efficiently. His deep understanding of modern technologies, combined with a passion for innovative solutions, allows him to drive the development of high-quality web experiences. Yahya’s commitment to excellence and his collaborative approach make him a vital contributor to the ongoing success and growth of our team.</p>
                <div class="social mt-4">
                    <a href="https://www.facebook.com/yahya.madeidista"><span class="icon-facebook"></span></a>
                    <a href="https://x.com/YSnedawi"><span class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com/ya7ya.sn/"><span class="icon-instagram"></span></a>
                    <a href="https://www.linkedin.com/in/yahya-snedawi-37923923b/"><span class="icon-linkedin"></span></a>
                </div>
            </div>

            <div class="col-md-6 order-md-2 ml-md-auto">
                <img src="~/images/person_5.jpg" alt="Image" class="img-fluid mb-4 rounded">
            </div>

            <div class="col-md-6">
                <h3>Waleed Al-Shurafa</h3>
                <p class="text-muted">RPA Developer</p>
                <p>Waleed Alshurafa is an expert in Robotic Process Automation (RPA) and a valuable member of our team. With a strong background in automating business processes and optimizing workflows, Waleed leverages RPA technology to streamline operations and drive efficiency. His expertise in designing and deploying automation solutions has significantly enhanced our ability to provide seamless, scalable systems. Waleed’s passion for innovation and problem-solving ensures that we continue to stay ahead in the fast-evolving tech landscape, and his dedication makes him an essential part of our team’s success.</p>
                <div class="social mt-4">
                    <a href="https://www.facebook.com/yahya.madeidista"><span class="icon-facebook"></span></a>
                    <a href="https://x.com/YSnedawi"><span class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com/ya7ya.sn/"><span class="icon-instagram"></span></a>
                    <a href="https://www.linkedin.com/in/yahya-snedawi-37923923b/"><span class="icon-linkedin"></span></a>
                </div>
            </div>
        </div>
</section>